/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: Arial, Verdana, sans-serif;
  color: #ffffff;
  text-align: center;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #143d52;
  text-shadow: none;
}

::selection {
  background: #143d52;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body { 
max-width: 1800px; 
margin: 0 auto !important; 
float: none !important; 
background-image: url('../img/bg.png');
background-repeat: no-repeat;
background-color: #0B1D26;
/*background-size: cover;*/
}

h1{
  float:left;
}

h2{
 float:right;
}

h3{
  /* Group 17 */
width: 1400px;
height: 22px;
left: 0px;
top: 0px;
text-align: left;
letter-spacing: 6px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 32px 0px;
color: #FBD784
}

h4{
  /* Be prepared for the Mountains and beyond! */
  width: 950px;
  height: 200px;
  left: 0px;
  top: 54px;
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 600;
  font-size: 88px;
  line-height: 100px;
  text-align: left;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 0px;
}

h6{
font-style: bold;
font-size: 18px;
letter-spacing: 6px;
height: 22px;
left: 0px;
top: 0px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 27px 0px;
color: #FBD784;
}

h7{
  /* Be prepared for the Mountains and beyond! */
font-family: Chronicle Display;
font-style: normal;
font-size: 70px;
line-height: 100px;
text-align: left;
color: #FFFFFF;
}

p{
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 42px;
letter-spacing: 0px;
text-align: left;
width: 100%;
}

/*#content {
  overflow: auto;
  height: 100%;
}*/

#header{

  position: absolute;
  width: 38px;
  height: 22px;
  left: 984px;
  top: 2px;
  

}
#nav, #footer {
padding: 10px;
margin: 60px;
}

#feature {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: absolute;
width: 950px;
height: 310px;
left: 500px;
top: 287px;
}

a{
color: #FFFFFF;
}

article {
	/*clear: both;*/
	/*overflow: auto;*/
	color: #ffffff;
  width: 1500px;
}

figure {
  float: left;
  width: auto;
  /* padding: 5px; */
  margin: 20px;
  margin-right: 150px;
  margin-bottom: 200px;
}

figure.img{
max-width: 50%;
height:auto;
}

figure1 {
  float: right;
  width: auto;
  /* padding: 5px; */
  margin: 20px;
  margin-left: 150px;
  margin-bottom: 200px;
}

figure1.img{
  max-width: 50%;
  height:auto;
}

p.columns{
  text-align: left;
  width: 200px;
}

hgroup {

margin-top: 90px;
width: 100%;
left: 0px;
top: 49px;
text-align: left;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
}

figure2{
  float: left;
  width: auto;
  /* padding: 5px; */
  /* margin-bottom: 200px;
}


li {
margin-top: 20px;
display: inline;
padding: 5px;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;

}

img {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.columns{
  justify-content: center;
  align-content: center;
  /* Auto Layout */
  
}

.top-right {
  position: absolute;
  width: 600px;
  margin: 50px;
  margin-left: 150px;
}


.top-left{
  width: 585px;
  position: absolute;
  margin: 50px;
  margin-left: 880px;
}

.columns > ul {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(1500px,1fr));
grid-gap: 1rem;
flex-direction: column;
align-items: center;
padding: 0px;
position: absolute;
width: 1463px;
height: 3040px;
left: 260px;
top: 1398px;
  
}

.columns > ul > li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
  height: 200px;

}

.columns > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #E2E2E2;
 
}

